name: Deno CI

on:
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: "2.5.6"

      - name: Run linter
        run: deno lint

      - name: Run tests
        run: deno test --allow-read --allow-net --allow-env

      - name: Run formatter
        run: deno fmt

      - name: Check for formatting changes
        id: git_diff
        run: |
          git diff --exit-code || echo "changed=true" >> $GITHUB_OUTPUT

      - name: Commit and push changes
        if: steps.git_diff.outputs.changed == 'true'
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "style: auto-format by deno fmt"
          git push
