name: Deno CI

on:
  pull_request:
    branches:
      - master
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}

      - name: Set up Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: "2.5.6"

      - name: Run linter
        run: deno lint

      - name: Run tests
        run: deno test --allow-read --allow-net --allow-env

      - name: Run formatter
        run: deno fmt

      - name: Check Diff
        id: check_diff
        run: |
          git add -N .
          git diff --name-only --exit-code
        continue-on-error: true

      - name: Commit
        if: steps.check_diff.outcome == 'failure'
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "style: auto-format by deno fmt"
          git push
